@import 'utils';

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 70%;
  margin: auto;

  &.review {
    width: 80%;
    // margin-bottom: 5rem;
    // @include media('<wide') {
    //   margin: auto
    // }

    @include media('<tablet') {
      // width: 80%;
      // margin: auto;
    }
  }

  .image {
    flex: 0 1 calc(100%/4 - 1px);
    text-align: center;
    margin: 1rem;

    @include media('<tablet') {
      flex: 0 1 calc(50% - 3rem);      
    }

    &.review {
      // flex: 1;
      flex: 0 1 calc(25% - 3rem);
      // text-align: center;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 5rem;
      // text-align: left;

      @include media('<tablet') {
        // margin: 0;
        flex: 0 1 calc(50%);
        text-align: center;
        
      }
  }

    .img {
      width: 50%;
      border-radius: 50%;
      margin-bottom: 2rem;
        
      @include media('<tablet') {
        width: 70%;
      }

      &.why {
        width: 50%;

        @include media('<tablet') {
          width: 70%;
        }
      }
    }

    .review-wrapper {
      width: 100%;
      margin: auto;
      // background: color(main);

      @include media('<tablet') {
        width: 80%;
      }

      .title {
        color: color(hard-grey);
        font-size: 1.3rem;
        font-weight: 500;
      }
    }


    .description {
      font-size: 1.3rem;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0;
      // line-height: 160%;
      color: color(hard-grey);
      font-weight: 300;

      &.why {
        color: color(main);
        font-weight: 500;
      }
    }
  }

}