@import 'utils';

.scrollButton {
  // display: inline-block;
  font-size: 0.5rem;
  // position: absolute;
  // left: 5%;
  // bottom: 5%;
  // margin
  text-align: center;
  // margin-top: 0.5rem;
  // width: 3rem;
  border: 0;
  // padding-top: 0.4rem;
  // padding-bottom: 0.4rem;
  // padding-left: 0.8rem;
  // padding-right: 0.8rem;
  // font-weight: 600;
  cursor: pointer;
  user-select: none;
  background: transparent;

  @include media("<tablet") {
    margin-right: 2rem;
    margin-top: -4rem;
  }
   .image {
     width: 2rem;
   } 
}