@import 'utils';

.nav-item {
  display: flex;
  // justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.4rem;
  color: white;
  opacity: 0.9;
  cursor: pointer;
  transition: all .3s;
  user-select: none;
  height: 40px;

  &:hover {
    font-weight: 700;
    opacity: 1;
    color: color(hard-grey);
  }

  &.responsive {
    color: white;
    font-size: 2rem;
  }
  
}