@import 'utils';

.Copyright {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
  padding-top: 5rem;

  .image {
    height: 5rem;
    margin-top: auto;
    margin-bottom: auto;

    @include media("<tablet") {
      height: 3rem;
    }
  }

  .text-wrapper {
    text-align: left;
    color: color('hard-grey');
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: 2rem;

    @include media("<tablet") {
      font-size: 1rem;
    }

    .text {      
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
  
}