@import 'utils';

.page {
  position: relative;
  display: flex;
  align-items: center;
  height: 50rem;

  &.breeder {
    height: 30rem;
    background: white;
  }

  &.diary {
    width: 100%;
    height: 20rem;
  }

  &.short {
    height: 30rem;

    @include media("<tablet") {
      height: 20rem;
    }
  }

  &.big {
    height: 80rem; 
    
    @include media('<tablet') {
      height: 85rem;
    }
  }

  &.middle {
    height: 70rem;
  }

  &.review {
    height: 70rem;

    @include media("<tablet") {
      height: 100rem;
    }
  }



  &.wide {
    height: 25rem;
    background: color(main);

  }

  @include media('<tablet') {
    // margin-top: 5rem;
  }

  .content {
    // padding-top: 5rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    // padding-top: 5rem;
    // padding-bottom: 5rem;
  
    &.grey {
      background: color(soft-grey);
      width: 70%;
      margin: auto;
      height: 100%;

      @include media("<tablet") {
        width: 100%;   
      }
    }

    @include media("<tablet") {
      padding-bottom: 1rem;
    }

    .title-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      &.big {
        height: 50%;
      }

      &.middle {
        height: 50%;
      }

      &.review {
        height: 50%;

        @include media("<tablet") {
          height: 35%; 
        }
      }

      &.short {
        height: 50%;
      }

      .title-image {
        height: 7rem;
        margin-top: 2rem;
        margin-bottom: 2rem;

        &.breeder {
          height: 6rem;

          @include media("<wide") {
            height: 5rem;
          }

          @include media("<pc") {
            height: 4rem;
          }

          @include media("<tablet") {
            height: 3rem;
          }
        }

        &.bigImage {
          height: 10rem;
        }

        &.wide {
          height: 3rem;
        }
      }

      .title {
        text-align: center;
        color: color(main);
        font-size: 2.5rem;
        font-weight: 300;
        margin: 0.5rem;

        &.titleBr {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }

        &.wide {
          display: none;
        }
      }

      .sub-title-wrapper {
        padding-top: 1.5rem;

        &.bar {

          @include media("<tablet") {
            margin-bottom: 2rem;
            width: 90%;
          }
        }

        .sub-title {
          // width: 30%;
          color: color(hard-grey);
          margin: auto;
          margin-top: 0;
          margin-bottom: 0;
          text-align: center;
          font-weight: 300;
          font-size: 1.4rem;;
          line-height: 150%;

          &.wide {
            color: white;
            line-height: 120%;
          }

          @include media('<tablet') {
            font-size: 1.4rem;
          }
        }    
        
      }
    }
  }
}