{
  "extends" : "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console":0,
    "prefer-stateless-function": [0, { "ignorePureComponents": true }],
  },
  "globals" : {
    "FormData": false,
    "FileReader": false,
    "window": false,
  },
}

