@import 'utils';

* {
  min-height: 0;
  min-width: 0;
}

.news {
  background: white;
  width: 100%;
  height: 40%;
  position: relative;

  .slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
    top: 50%;
    margin: auto;

    @include media("<tablet") {
      width: 90%;     
    }

      .slider {
        padding-bottom: 4rem;

      .slick-arrow {
        display: none;
      }

      .slick-next {
        display: none;
      }

      
      .page {

        .image-wrapper {

          .image {
            width: 10rem;
            border-radius: 50%;
            margin: auto;

            @include media("<tablet") {
              width: 10rem;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}